.container {
  padding: 0px 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  overflow: visible !important;
}

.gradient {
  background-image: linear-gradient(to bottom, transparent 50%, var(--red));
  background-repeat: no-repeat;
  background-size: 100% 300%;
  animation: gradient 5s ease forwards;
}

.fade > * {
  opacity: 0;
  animation: fadeIn 0.9s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.fade > *:nth-child(1) {
  animation-delay: 0.25s;
}

.fade > *:nth-child(2) {
  animation-delay: 0.5s;
}

.fade > *:nth-child(3) {
  animation-delay: 0.75s;
}

.fade > *:nth-child(4) {
  animation-delay: 1s;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 2px;
  user-select: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 0% 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}